@keyframes slow-display {  
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
   100%{
       transform: translateY(0);
       opacity: 1;
   }   
  }

@keyframes turn {
    100%{
        transform: translateY(-30px);
    }
    
}
