@import './variable_overrides';
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./keyframes";
@font-face{
    src: url("/frontend/font/Carnevalee\ Freakshow.ttf");
    font-family: carnival;
};

body{
    font-family: "Glegoo", sans-serif;
    margin: 0;
   
}

.fa-shopping-cart{
    background: -webkit-linear-gradient(#c77a5f, #925cf7);
   padding: 0 0 0 2px;
   font-size: 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    font-size: 130%;
    a{
    font-weight: bold;
    color: #ffff;
    padding-left: 1rem;
   }
   li{
      padding-left: 4rem;
      position: relative;
   }
  .navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
  }  
}

.in-cart{
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    font-size: 70%;
    top: 1px;
    right: 0px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: green;
    display: flex;
   justify-content: center;
   align-items: center; 
}

.hero{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/frontend/images/benjamin-combs-hiAdjnXZxl8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    justify-content: center;
    position: relative;

    .hero-text{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    p{
        font-size: 140%;
        animation: slow-display ease-out 1500ms ;
        @media screen and (max-width: 350px) {
            display: none;
        }
    }
    
    a{
        background-color: white;
        color: black;
        text-align: center;
        width: fit-content;
        animation: slow-display ease-out 3000ms ;
        transition: 700ms;
        &:hover{
            transform: scale(1.1);
            transition: 700ms;
        }
    }
  }}

 .main-index{
    //  background-image: url('/frontend/images/texture.jpg');
     background-color: $light;
     background-repeat:no-repeat;
     background-size: cover;
     h2{
         color: rgb(0, 0, 0);
     }
 }

 #productsDisplay{
     justify-content: center;
     min-height: 180px;
     @media screen and (max-width: 600px) {
        margin: 0 1rem;
    }
     .details{
        justify-content: space-around;
        text-align: center;
     }
}

article.card,
.navbar-brand{
    transition: 1s;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        transition: 500ms;
    }
}

footer{
     color: white;
     .row-footer{
         width: fit-content;
         margin: auto;
         align-items: center;
         justify-content: center;
     }
     li{
         list-style: none;
     }
     i{
         color: white;
         font-size: 150%; 
     }
     a{
         color: white;
         text-decoration: none;
         &:hover{
             color: yellow;
         }
     }
 }
 //loader
 .loader{
     position: absolute;
     top: 850px;
     left: 50%;
     transform: translateX(-50%);
     width: 200px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .dot{
     margin: 0 5px;
     width: 20px;
     height: 20px;
     border-radius: 50px;
     background-color: black;
     animation: turn 0.3s alternate infinite;
 }
 .dot:nth-child(1){
     animation-delay: 0.1s;
 }
 .dot:nth-child(2){
    animation-delay: 0.2s;
}
.dot:nth-child(3){
    animation-delay: 0.3s;
}
 
///page article
.background img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 0;
    position: relative;
}
.productsDisplay{
    @media screen and (max-width: 950px) {
        width: 100%;
    }
}

.description{
    padding-top: 80px;
}

#cameraImage{
    object-fit: cover;
    width: 50%;
    @media screen and (max-width: 990px) {
        width: fit-content ;
    }
}

.fa-star-half-alt,
.fa-star{
    color: rgba(255, 167, 5, 1);
}

.products{  
  .oneArticle{
    border: solid 2px purple;
  }
    .delete{
    color: red;
    &:hover{
        cursor: pointer;
    }
}}

.arrow-right,
.arrow-left{
    color: green;
    &:hover{
        cursor: pointer;
    }
}

//cart
#total{
    font-size: 250%;
}

.euro{
    font-family: sans-serif;
    font-size: 90%;
}

#address{
    width: 50%;
}

.title-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.oneArticle{
    @media screen and (max-width: 400px) {
        img{
            display: none;
        }
    }
}

.postcode-city{
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .postale{
        margin-right: 1rem;
    }
    
}
    